<div style="background-color: #fafafa; float: left; font-family: 'Segoe UI', Helvetica Neue, sans-serif; color: #607d8b; width: 100%;">
<div style="width: 750px; margin: auto; color: #607d8b; background-color: white;">
<div style="float: left; color: white; width: 100%; background-color: #607d8b;
 background-image: url({website_url}/templates/system/images/mailbghead.jpg);background-size:auto 100%;"><img style="height: 30px; padding: 20px 0px; float: left; margin-right: 35px; margin-left: 20px;" src="{notifi_footer_logo}" />
<h4 style="display: inline-block; font-weight: 200; line-height: 25px; font-size: 16px;">Smart Solutions</h4>
</div>
{notifi_body}
<div style="text-align: center; font-size: 13px; margin-bottom: 35px; color: white; width: 750px; margin: auto; background-color: #607d8b; padding: 30px 0px;
background-image: url({website_url}/templates/system/images/mailbghead.jpg);background-size:auto 100%;">

<div style="display:inline-block;width:200px;text-align:left;margin: 15px 0px;vertical-align:top;text-align:center;    min-height: 100px;border-right: 1px solid #7493a1;padding: 0px 18px;">
<div style="width:100%;;"><img style="width: 40px;    margin-bottom: 15px;" src="{website_url}/templates/system/images/location.png"></div>
<div style="width:100%;float:right; ">{website_address}</div>
</div>

<div style="display:inline-block;width:200px;text-align:left;margin: 15px 0px;vertical-align:top;text-align:center;    min-height: 100px;border-right: 1px solid #7493a1;padding: 0px 18px;">
<div style="width:100%;;"><img style="width: 40px;    margin-bottom: 15px;" src="{website_url}/templates/system/images/phone.png"></div>
<div style="width:100%;float:right; "><a style="color: white; text-decoration: none;">{website_phones}</a></div>
</div>

<div style="display:inline-block;width:200px;text-align:left;margin: 15px 0px;vertical-align:top;text-align:center;    min-height: 100px;padding: 0px 18px;">
<div style="width:100%;;"><img style="width: 40px;    margin-bottom: 15px;" src="{website_url}/templates/system/images/email.png"></div>
<div style="width:100%;float:right; "><a style="color: white; text-decoration: none;" href="mailto:{website_emails}">{website_emails}</a></div>
</div>

<div style="display:inline-block;width: 100%;text-align:left;margin-bottom: 10px;vertical-align:top;text-align:center;margin-top: 30px;">
<div style="width:100%;float:right; "><a style="color: white; text-decoration: none;">{website_infos}</a></div>
</div>

<div style="width:100%;display:inline-block;text-align:center;margin-top:15px;">
<a href="https://www.facebook.com/"><img class="CToWUd" style="width: 25px;" src="{website_url}/templates/system/images/facebooklogo.png" /></a> <a href="https://twitter.com/"><img class="CToWUd" style="width: 25px; margin-left: 5px;" src="{website_url}/templates/system/images/twitterlogo.png" /></a>
</div>

</div></div></div>